extends layout

block content
    .container
        .page-header
            h1 A Book of Music
        p.lead Generate eBooks that are able to play the music that is mentioned in their text on your computer while enjoying them on your favorite eBook-Reader.
        p (Twitter login is used to uniquely identify users. We are not utilising Twitter data.)
        .center(style="position:absolute; top: 50%; left:50%; margin: -14px 0 0 -79px")
            a(href="/auth/twitter")
                img(src="/img/sign-in-with-twitter-gray.png")
